body{
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    margin: 10px;
    
}
 h1{
    margin-top: 2em;
 }


body a{
    text-decoration: none;
}
.face{
    background: linear-gradient(45deg, #0e40ad, #506eaf);
    color: white;
    padding: 20px;
   margin-right: 200px;
   margin-left: 200px;
   border-radius: 50PX;
   transition: 0.2s;
}
.insta{
    background: linear-gradient(45deg, #ffca37, #ff7105, #e91876, #9e1dd1, #2936c3);    color: white;
    padding: 20px;
   margin-right: 200px;
   margin-left: 200px;
   border-radius: 50PX;
   transition: 0.2s;
}
.git{
    background: linear-gradient(45deg, #333333, #898989);
    color: white;
    padding: 20px;
   margin-right: 200px;
   margin-left: 200px;
   border-radius: 50PX;
   transition: 0.2s;
}
.mail{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
   margin-right: 200px;
   margin-left: 200px;
   border-radius: 50PX;
   transition: 0.2s;
}

.face:hover{
    transform: scale(1.2);
   
}
.insta:hover{
    transform: scale(1.2);
   
}
.git:hover{
    transform: scale(1.2);
   
}
.mail:hover{
    transform: scale(1.2);
   
}

.lang{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
   margin-right: 200px;
   margin-left: 200px;
   border-radius: 50PX;
   transition: 0.2s;

}

.lang:hover{
    transform: scale(1.2);
}


@media(max-width:800px){
   
    
    body{
        background: linear-gradient(450deg, #bababa, #ffffff, #bababa);
    }
    .face{
       
      
       
       margin-right: 40px;
       margin-left: 40px;
      
    }

    .insta{
        margin-right: 40px;
        margin-left: 40px;
    }   

    .git{
        margin-right: 40px;
        margin-left: 40px;
    }

    .mail{
        margin-right: 40px;
        margin-left: 40px;
    }

    .lang{   margin-right: 40px;
        margin-left: 40px;}
}